/** ЗАГАЛЬНІ СТИЛІ **/

* {
    transition: all .3s;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    background-color: rgb(255,255,255);
}

embed, img, object, video {
    max-width: 100%;
}
video {
    max-width: 100%;
    height: auto;
}
/** /ЗАГАЛЬНІ СТИЛІ. **/


/** МЕНЮ **/
.menu-icon {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    margin: 0;
    padding: 0.8rem 0.5rem;
    background-color: rgba(33,33,33,.6);
    cursor: pointer;
    z-index: 30;
}
.menu-icon:hover {
    opacity: 1;
}
div[class$="line-1"], div[class$="line-2"], div[class$="line-3"] {
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 1);
}
div[class$="line-2"] {
    margin: 3px 0;
}
.menu-magic > div[class$="line-1"] {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-magic > div[class$="line-2"] {
    opacity: 0;
}
.menu-magic > div[class$="line-3"] {
    -webkit-transform: rotate(-45deg) translate(3px, -4px);
    transform: rotate(-45deg) translate(3px, -4px);
}
nav {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	    -webkit-justify-content: space-between;
	            justify-content: space-between;
	    -webkit-align-items: center;
	            align-items: center;
    position: fixed;
    top: 0;
    left: -101vw;
    width: 100vw;
    height: 100%;
    margin: 0;
    background: rgba(33,33,33,.8);
    box-shadow: 0 0 4px rgba(00,00,00,.9);
    z-index: 20;
}
.main-nav {
    left: 0;
}
.main-nav h2 {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0.32rem 0.5rem;
    padding-left: 3rem;
    margin-top: 0.15rem;
    color: rgb(245,245,245);
    text-transform: uppercase;

}
.main-nav h5 {
    margin: 0;
    margin-top: 2rem;
    padding: 0 1rem;
    color: rgb(245,245,245);
    font-weight: 400;
}
.author {
    color: rgb(245,245,245);
}
img[alt="menu-logo"] {
    height: 15%;
    margin-bottom: .5rem;
    padding: 0 5rem;
}
ul[class$="menu-list"] {
    width: 100%;
    height: 60%;
    list-style: none;
    line-height: 2.2;
    margin: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
li[class$="menu-list__item"] {
    width: 100%;
    margin: 0.2rem 0;
    padding: 0.2rem 0.4rem;
    background-color: transparent;
}
li[class$="menu-list__item"]:hover {
    background: rgba(0,0,0,.8);
}
li[class$="menu-list__item"] a {
    color: rgb(245,245,245);
    display: block;
    width: auto;
    padding-left: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}
li[class$="menu-list__item"] a:hover {
    padding-left: 1.5rem;
}
/** /МЕНЮ. **/

header {
    width: 100%;
    height: 100vh;
    background: url(img/header_photo.jpg) no-repeat;
    -webkit-background-size: 50%;
         -o-background-size: 50%;
            background-size: 50%;
}

header .l-side {
    width: 50%;
    height: 100vh;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
}

.logotype {
    width: 240px;
    margin-top: 60px;
    background: rgba(66, 25, 20, .6);
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

header .r-side {
    width: 50%;
    height: 100vh;
    padding-left: 80px;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
        -webkit-justify-content: space-around;
                justify-content: space-around;
        -webkit-align-items: center;
                align-items: center;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: -3px 0 2px rgba(11, 11, 11, .6);
            box-shadow: -3px 0 2px rgba(11, 11, 11, .6);
}

.b-headling {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(66, 25, 20);
}

header .b-headling {
    font-size: 46px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(66, 25, 20);
}

.short-info {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 22px;
    background: rgba(255, 255, 255, .6);
}

.short-info i {
    width: 60px;
    height: 62px;
    font-size: 34px;
    text-align: center;
    line-height: 1.8;
    background: rgb(66, 25, 20);
    border-right: 1px solid rgba(11, 11, 11, .1);
}

.short-info span {
    width: 100%;
    padding-left: 20px;
    color: rgb(66, 25, 20);
    font-size: 34px;
    text-align: center;
    line-height: 1.8;
}

.h-register-button {
    width: 300px;
    height: 60px;
    color: rgb(66, 25, 20);
    background: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 4px solid rgb(66, 25, 20);
    outline: none;
    text-decoration: none;
    line-height: 2.2;
    z-index: 5;
}

.h-register-button:hover {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
    color: rgb(255, 255, 255);
    background: rgb(66, 25, 20);
    letter-spacing: 1px;
    border: 4px solid rgb(66, 25, 20);
    outline: none;
    cursor: pointer;
}

.main_1 {
    height: 110vh;
    background: rgb(66, 25, 20);
}

.main_1 .l-side {
    width: 50%;
    height: 100vh;
    padding: 40px 20px;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-align-items: center;
                align-items: center;
    color: rgb(66, 25, 20);
    background: rgb(255, 255, 255);
}

.why {
    font-size: 22px;
    padding: 10px 30px;
}

.main_1 .r-side {
    width: 50%;
    height: 100vh;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-align-items: center;
                align-items: center;
    padding: 0 20px;
}

.main_1 .r-side .b-headling {
    margin-left: -32px;
    text-align: left;
    color: rgb(255, 255, 255);
}

video {
    margin: 0;
    padding: 0;
    border-top: 10px solid rgb(255, 255, 255);
    border-bottom: 10px solid rgb(255, 255, 255);
}

.main_2 {
    height: 110vh;
    background: rgb(66, 25, 20);
    padding: 20px 0;
}

.achievs {
    width: 100%;
    padding-top: 20px;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-align-items: space-between;
                align-items: space-between;
}

.ach_box {
    width: 31%;
    height: auto;
    margin-top: 20px;
    padding: 10px 0;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
    border-top: 2px solid rgba(255, 255, 255, .1);
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    opacity: .8;
}

.ach_box:hover {
    opacity: 1;
    background: rgba(255, 255, 255, .2);
    border-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 2px 4px rgba(11, 11, 11, .8);
            box-shadow: 0 2px 4px rgba(11, 11, 11, .8);
    -webkit-transform: scale(1.3);
       -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
         -o-transform: scale(1.3);
            transform: scale(1.3);
}

.ach_box img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 6px;
    border: 4px solid rgb(255, 255, 255);
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.ach_i {
    width: 100%;
    margin-top: 20px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.main_3 {
    height: 100vh;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: center;
            align-items: center;
    background: rgb(255, 255, 255);
}

.conn {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
    color: rgb(66, 25, 20);
    border: 1px solid rgb(66, 25, 20);
    border-bottom: 10px solid rgb(66, 25, 20);
}

.conn:hover {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
        -webkit-transition: all .5s;
           -moz-transition: all .5s;
            -ms-transition: all .5s;
             -o-transition: all .5s;
                transition: all .5s;
}

.conn .m-headling {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(66, 25, 20);
    text-transform: uppercase;
}

form {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
}

input {
    width: 100%;
    height: 60px;
    margin: 20px 0;
    padding: 5px 10px;
    font-size: 28px;
    outline: none;
    border: 2px solid rgb(66, 25, 20);
}

input:focus {
        outline: none;
}

input:invalid {
        -webkit-box-shadow: none;
                box-shadow: none;
}

button {
    margin: 20px 0;
    width: 100%;
    height: 60px;
    font-size: 22px;
    color: rgb(66, 25, 20);
    background: transparent;
    text-transform: uppercase;
    border: 2px solid rgb(66, 25, 20);
    outline: none;
}

button:hover {
    color: rgb(255, 255, 255);
    background: rgb(66, 25, 20);
    cursor: pointer;
}

footer {
    width: 100%;
    height: auto;
    padding: 10px 0;
    color: rgb(255, 255, 255);
    background: rgb(66, 25, 20);
}

footer img {
    width: 20%;
    margin-top: 10px;
}

.f-info {
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-align-items: center;
                align-items: center;
    font-size: 14px;
}

.f-info i {
    font-size: 18px;
    margin-right: 10px;
}


@media only screen and (max-width : 319px) {
    .logotype {
        width: 40px;
        background: rgba(66, 25, 20, .6);
        -webkit-border-radius: 50%;
                border-radius: 50%;
    } 
    header .b-headling,
    .h-register-button {
        font-size: 16px;
    }
    .h-register-button {
        font-size: 18px;
        line-height: 2.8;
    }
    .short-info span {
        font-size: 14px;
        line-height: 1.2;
    }
    .container {
        width: 96vw;
        margin-left: 2vw;
    }
    .main_1 .b-headling {
        font-size: 20px;
    }
    .why {
        padding: 0 5px;
        font-size: 14px;
    }
    .ach_box:hover {
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
    }
    .conn .m-headling {
        font-size: 16px;
    }
    input {
        height: 30px;
        font-size: 14px;
    }
    button {
        height: 40px;
        font-size: 14px;
    }
    .f-contacts p {
        padding-left: 5px;
        font-size: 12px;
        text-align: left;
    }
    footer img {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (min-width : 320px) { 
    .container {
        width: 300px;
    }
    .h-register-button {
        font-size: 26px;
        line-height: 2;
    }
}

@media only screen and (min-width : 480px) { 
    .container {
        width: 450px;
    }
    .main_3 {
        height: 80vh;
    }
    .h-register-button {
        font-size: 26px;
        line-height: 2.2;
    }
}

@media only screen and (max-width : 768px) { 
    body {
        background: url(img/header_photo.jpg) no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    header {
        background: transparent;
        height: 100%;
    }
    .container {
        height: 100%;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-align-items: center;
                align-items: center;
    }
    header .l-side {
        width: 100%;
        height: 60vh;
    }
    .logotype {
        width: 240px;
        background: rgba(66, 25, 20, .6);
        -webkit-border-radius: 50%;
                border-radius: 50%;
    }
    header .r-side {
        width: 100%;
        height: 40vh;
        padding: 0 2px;
        -webkit-justify-content: space-around;
                justify-content: space-around;
        background: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .short-info i {
        width: 40px;
        height: 40px;
        font-size: 22px;
    }
    .short-info span {
        padding-left: 10px;
        font-size: 20px;
        line-height: 1.8;
    }
    header .b-headling {
        padding: 5px 4px;
        font-size: 24px;
        color: rgb(66, 25, 20);
        background: rgba(255, 255, 255, .4);
    }
    .h-register-button {
        width: 100%;
        border: 3px solid rgba(66, 25, 20, .8);
        background: rgba(255, 255, 255, .4);
    }

    .main_1 {
        height: 100%;
        background: rgb(66, 25, 20);
    }
    .main_1 .container {
        width: 100%;
    }
    .main_1 .l-side {
        width: 100%;
        height: 100%;
        padding: 10px 15px;
        color: rgb(255, 255, 255);
        background: rgb(66, 25, 20);
    }
    .main_1 .b-headling {
        color: rgb(255, 255, 255);
    }
    .why {
        height: 100%;
        font-size: 16px;
        padding: 0 20px;
        margin-top: 0;
    }
    .main_1 .r-side {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        padding: 0 20px;
        padding-bottom: 40px;
        color: rgb(66, 25, 20);
        background: rgb(255, 255, 255);
    }
    .main_1 .r-side .b-headling {
        margin-left: 0;
        padding-left: 14px;
        text-align: left;
        color: rgb(66, 25, 20);
    }
    video {
        border-color: rgb(66, 25, 20);
    }
    .main_2 {
        height: 100%;
        padding: 0;
        padding-bottom: 10px;
    }
    .achievs {
        padding-top: 0;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
            -webkit-justify-content: center;
                    justify-content: center;
    }
    .ach_box {
        width: 100%;
    }
    .ach_box:hover {
        opacity: 1;
        background: rgba(255, 255, 255, .2);
        border-color: rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0 2px 4px rgba(11, 11, 11, .8);
                box-shadow: 0 2px 4px rgba(11, 11, 11, .8);
        -webkit-transform: scale(1.1);
           -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
             -o-transform: scale(1.1);
                transform: scale(1.1);
    }
    .main_3 {
        height: 150vh;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .conn {
        width: 100%;
        height: 100%;
    }
    .conn:hover {
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
    }
    .conn .m-headling {
        padding: 10px 5px;
        font-size: 28px;
    }
    input {
        width: 100%;
        height: 40px;
        margin: 20px 0;
        padding: 5px 10px;
        font-size: 20px;
        outline: none;
        border: 2px solid rgb(66, 25, 20);
    }
    footer img {
        width: 70%;
        margin-left: 15%;
    }
    .f-info {
        width: 100%;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
            -webkit-justify-content: space-around;
                    justify-content: space-around;
            -webkit-align-items: center;
                    align-items: center;
            font-size: 14px;
    }
    .f-info .col-2:first-child {
        width: 100%;
    }
    .f-contacts {
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
            -webkit-justify-content: center;
                    justify-content: center;
            -webkit-align-items: center;
                    align-items: center;
    }
    .f-info {
        font-size: 18px;
    }
    .f-info p:first-child {
        margin-top: 20px;
    }
    .f-info i {
        font-size: 20px;
        margin-right: 5px;
    }
}

@media only screen and (min-width : 769px) { 
    .container {
        width: 750px;
    }
    header {
        height: 100%;
        background: url(img/header_photo.jpg) no-repeat;
        -webkit-background-size: 70%;
         -o-background-size: 70%;
            background-size: 70%;
    }
    header .l-side {
        width: 100%;
        height: 100vh;
    }

    .logotype {
        width: 240px;
        background: rgba(66, 25, 20, .6);
        -webkit-border-radius: 50%;
                border-radius: 50%;
    }

    header .r-side {
        width: 100%;
        height: 100vh;
        -webkit-justify-content: space-around;
                justify-content: space-around;
        background: rgb(255, 255, 255);
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .short-info i {
        width: 40px;
        height: 40px;
        font-size: 22px;
    }

    .short-info span {
        padding-left: 10px;
        font-size: 20px;
        line-height: 1.8;
    }

    header .b-headling {
        padding: 5px 4px;
        font-size: 34px;
        color: rgb(66, 25, 20);
        background: rgba(255, 255, 255, .4);
    }
    .h-register-button {
        width: 100%;
        height: 60px;
        font-size: 24px;
        border: 3px solid rgba(66, 25, 20, .8);
        background: rgba(255, 255, 255, .4);
    }
    .main_1 {
        padding: 0;
        height: 100vh;
    }
    .main_1 .l-side {
        width: 50%;
        height: 100%;
        padding: 20px 10px;
    }
    .main_1 .b-headling {
        margin: 0;
        padding: 0;
    }
    .why {
        font-size: 18px;
        padding: 10px 30px;
        margin-bottom: 20px;
    }
    .main_1 .r-side .b-headling {
        margin-left: 16px;
    }
    .main_2 {
        height: 150%;
    }
    .achievs {
        height: 150%;
    }
    .ach_box {
        width: 49%;
    }
    .main_3 {
        height: 100vh;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .conn {
        width: 80%;
        height: 100%;
    }
    .conn:hover {
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
    }
    .conn .m-headling {
        padding: 10px 5px;
        font-size: 28px;
    }
    input {
        width: 100%;
        height: 40px;
        margin: 20px 0;
        padding: 5px 10px;
        font-size: 20px;
        outline: none;
        border: 2px solid rgb(66, 25, 20);
    }
    footer img {
        width: 40%;
        margin-left: 30%;
    }
    .f-info {
        width: 100%;
        display: flex;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
            -webkit-justify-content: space-between;
                    justify-content: space-between;
            -webkit-align-items: center;
                    align-items: center;
            font-size: 14px;
    }
    .f-info .col-2:first-child {
        width: 100%;
    }
    .f-contacts {
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
            -webkit-justify-content: center;
                    justify-content: center;
            -webkit-align-items: flex-start;
                    align-items: flex-start;
    }
    .f-info {
        text-align: left;
        font-size: 18px;
    }
    .f-info p:first-child {
        margin-top: 20px;
    }
    .f-info i {
        font-size: 20px;
        margin-right: 5px;
    }
}

@media only screen and (min-width : 992px) {
    header {
        width: 100%;
        height: 100vh;
        background: url(img/header_photo.jpg) no-repeat;
        -webkit-background-size: 50%;
             -o-background-size: 50%;
                background-size: 50%;
    }
    .container {
        width: 960px;
    }
    header .l-side {
        width: 50%;
        height: 100vh;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-align-items: center;
                align-items: center;
    }
    .logotype {
        width: 240px;
        background: rgba(66, 25, 20, .6);
        -webkit-border-radius: 50%;
                border-radius: 50%;
    }
    header .r-side {
        width: 50%;
        height: 100vh;
        padding-left: 80px;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
            -webkit-justify-content: space-around;
                    justify-content: space-around;
            -webkit-align-items: center;
                    align-items: center;
        background: rgb(255, 255, 255);
        -webkit-box-shadow: -3px 0 2px rgba(11, 11, 11, .6);
                box-shadow: -3px 0 2px rgba(11, 11, 11, .6);
    }
    .b-headling {
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(66, 25, 20);
    }
    header .b-headling {
        font-size: 46px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(66, 25, 20);
    }
    .short-info {
        display: block;
        width: 100%;
        color: rgb(255, 255, 255);
        font-size: 22px;
        background: rgba(255, 255, 255, .6);
    }
    .short-info i {
        width: 60px;
        height: 62px;
        font-size: 34px;
        text-align: center;
        line-height: 1.8;
        background: rgb(66, 25, 20);
        border-right: 1px solid rgba(11, 11, 11, .1);
    }
    .short-info span {
        width: 100%;
        padding-left: 20px;
        color: rgb(66, 25, 20);
        font-size: 34px;
        text-align: center;
        line-height: 1.8;
    }
    .h-register-button {
        width: 300px;
        height: 60px;
        color: rgb(66, 25, 20);
        background: rgb(255, 255, 255);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 4px solid rgb(66, 25, 20);
        outline: none;
    }
    .h-register-button:hover {
        -webkit-transform: scale(1.1);
           -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
             -o-transform: scale(1.1);
                transform: scale(1.1);
        color: rgb(255, 255, 255);
        background: rgb(66, 25, 20);
        letter-spacing: 1px;
        border: 4px solid rgb(66, 25, 20);
        outline: none;
        cursor: pointer;
    }
    .main_1 {
        height: 110vh;
        background: rgb(66, 25, 20);
    }
    .main_1 .l-side {
        width: 50%;
        height: 100vh;
        padding: 40px 20px;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
            -webkit-justify-content: space-between;
                    justify-content: space-between;
            -webkit-align-items: center;
                    align-items: center;
        color: rgb(66, 25, 20);
        background: rgb(255, 255, 255);
    }
    .why {
        font-size: 22px;
        padding: 10px 30px;
    }
    .main_1 .r-side {
        width: 50%;
        height: 100vh;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
            -webkit-justify-content: center;
                    justify-content: center;
            -webkit-align-items: center;
                    align-items: center;
        padding: 0 20px;
    }
    .main_1 .r-side .b-headling {
        margin-left: -32px;
        text-align: left;
        color: rgb(255, 255, 255);
    }
    video {
        margin: 0;
        padding: 0;
        border-top: 10px solid rgb(255, 255, 255);
        border-bottom: 10px solid rgb(255, 255, 255);
    }
    .main_2 {
        height: 110vh;
        background: rgb(66, 25, 20);
        padding: 20px 0;
    }
    .achievs {
        width: 100%;
        padding-top: 20px;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
            -webkit-justify-content: space-between;
                    justify-content: space-between;
            -webkit-align-items: space-between;
                    align-items: space-between;
    }
    .ach_box {
        width: 31%;
        height: auto;
        margin-top: 20px;
        padding: 10px 0;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-align-items: center;
                align-items: center;
        border-top: 2px solid rgba(255, 255, 255, .1);
        border-bottom: 2px solid rgba(255, 255, 255, .1);
        opacity: .8;
    }
    .ach_box:hover {
        opacity: 1;
        background: rgba(255, 255, 255, .2);
        border-color: rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0 2px 4px rgba(11, 11, 11, .8);
                box-shadow: 0 2px 4px rgba(11, 11, 11, .8);
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
    }
    .ach_box img {
        width: 120px;
        margin: 0 auto;
        padding: 6px;
        border: 4px solid rgb(255, 255, 255);
        -webkit-border-radius: 50%;
                border-radius: 50%;
    }
    .ach_i {
        width: 100%;
        margin-top: 20px;
        padding: 5px 10px;
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    .main_3 {
        height: 100vh;
        display: flex;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-around;
                justify-content: space-around;
        -webkit-align-items: center;
                align-items: center;
        background: rgb(255, 255, 255);
    }
    .conn {
        height: 100%;
        width: 60%;
        margin: 0 auto;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-align-items: center;
                align-items: center;
        color: rgb(66, 25, 20);
        border: 1px solid rgb(66, 25, 20);
        border-bottom: 10px solid rgb(66, 25, 20);
    }
    .conn:hover {
        -webkit-transform: scale(1.1);
           -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
             -o-transform: scale(1.1);
                transform: scale(1.1);
            -webkit-transition: all .5s;
               -moz-transition: all .5s;
                -ms-transition: all .5s;
                 -o-transition: all .5s;
                    transition: all .5s;
    }
    .conn .m-headling {
        width: 100%;
        margin: 0;
        padding: 10px 0;
        text-align: center;
        color: rgb(255, 255, 255);
        background: rgb(66, 25, 20);
        text-transform: uppercase;
    }
    form {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-align-items: center;
                align-items: center;
    }
    input {
        width: 100%;
        height: 60px;
        margin: 20px 0;
        padding: 5px 10px;
        font-size: 28px;
        outline: none;
        border: 2px solid rgb(66, 25, 20);
    }
    input:focus {
            outline: none;
    }
    input:invalid {
            -webkit-box-shadow: none;
                    box-shadow: none;
    }
    button {
        margin: 20px 0;
        width: 100%;
        height: 60px;
        font-size: 22px;
        color: rgb(66, 25, 20);
        background: transparent;
        text-transform: uppercase;
        border: 2px solid rgb(66, 25, 20);
        outline: none;
    }
    button:hover {
        color: rgb(255, 255, 255);
        background: rgb(66, 25, 20);
        cursor: pointer;
    }
    footer {
        width: 100%;
        height: auto;
        padding: 10px 0;
        color: rgb(255, 255, 255);
        background: rgb(66, 25, 20);
    }
    footer img {
        width: 20%;
        margin-top: 10px;
    }
    .f-info {
        display: flex;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
            -webkit-justify-content: space-between;
                    justify-content: space-between;
            -webkit-align-items: center;
                    align-items: center;
        font-size: 14px;
    }
    .f-info i {
        font-size: 18px;
        margin-right: 10px;
    }
}

@media only screen and (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}
/** /Розміри контейнерів із сітки **/

/** Анімації */
@-webkit-keyframes slide-from_left {
    0% { 
        -webkit-transform: translateX(-40vw);
           -moz-transform: translateX(-40vw);
            -ms-transform: translateX(-40vw);
             -o-transform: translateX(-40vw);
                transform: translateX(-40vw);
        }
    65% { 
        -webkit-transform: translateX(5vw);
           -moz-transform: translateX(5vw);
            -ms-transform: translateX(5vw);
             -o-transform: translateX(5vw);
                transform: translateX(5vw);
        }
    100% { 
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
     }
}

@keyframes slide-from_left {
    0% { 
        -webkit-transform: translateX(-100vw);
           -moz-transform: translateX(-100vw);
            -ms-transform: translateX(-100vw);
             -o-transform: translateX(-100vw);
                transform: translateX(-100vw);
        opacity: 0;
        }
    35% { 
        opacity: 0;
    }
    65% { 
        -webkit-transform: translateX(5vw);
           -moz-transform: translateX(5vw);
            -ms-transform: translateX(5vw);
             -o-transform: translateX(5vw);
                transform: translateX(5vw);
        opacity: .2;
        }
    100% { 
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
     }
}

.slide-from_left {
    -webkit-animation-name: slide-from_left;
       -moz-animation-name: slide-from_left;
         -o-animation-name: slide-from_left;
            animation-name: slide-from_left;
        -webkit-animation-duration: .5s;
           -moz-animation-duration: .5s;
             -o-animation-duration: .5s;
                animation-duration: .5s;
        -webkit-animation-timing-function: linear;
           -moz-animation-timing-function: linear;
             -o-animation-timing-function: linear;
                animation-timing-function: linear;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}
/** /Анімації. */

/** Для IE10-11 **/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    .b-headling {
        width: 100%;
    }
    .why {
        width: 100%;
    }
    .ach_box img {
        width: 120px;
        height: 120px;
    }
}
/** /Для IE10-11 **/